# Salin file ini menjadi .env dan isi dengan data dari Neon.tech
# Dapatkan DATABASE_URL dari: https://neon.tech → Project → Connection string

DATABASE_URL=postgresql://username:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
PORT=3000
